<template>
<span>
<a v-if="href" class="btn btn-app" :href="href" :disabled="disabled">
<span v-if="badgeContent" class="badge bg-{{badgeColor}}">{{badgeContent}}</span>
<i class="fa {{icon}}"></i> {{title}}
</a>
<button type="button" v-else class="btn btn-app" :disabled="disabled">
<span v-if="badgeContent" class="badge bg-{{badgeColor}}">{{badgeContent}}</span>
<i class="fa {{icon}}"></i> {{title}}
</button>
</span>
</template>

<script>
    export default {

        props: {
            href: { },
            badgeColor: { default:"green" },
            badgeContent: {  },
            disabled: { default:false },
            icon: { default:"fa-info" },
            title: { },
        }
    }
</script>
