<template>
    <div :class="class">
        <div class="x_panel tile">
            <div class="x_title">
                <h2>{{title}} <small>{{subtitle}}</small></h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <slot></slot>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        ready() {
        },
        props: {
            title: { default:"surjete" },
            subtitle: { /* ... */ },
            class: { default:"col-sm-12 col-md-6 col-lg-4" }
          }
    }
</script>
