<template>
    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <div class="tile-stats">
        <div class="icon"><i class="fa {{icon}}"></i></div>
        <div class="count">{{count}}</div>
        <h3>{{title}}</h3>
        <p><i class="green"><i class="fa fa-sort-asc"></i>3% </i> {{subtitle}}</p>
      </div>
    </div>
</template>

<script>
    export default {
        ready() {
        },
        props: {
            title: { },
            subtitle: { /* ... */ },
            icon: {  },
            count: {  }
        }
    }
</script>
